<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://use.fontawesome.com/9bc23640e2.js"></script>
</head>
<body>
	<header>
		<div id="user_div">
			<div class="user_logo">
				<!-- <img src=""> -->
			</div>
			<span>
				User Name
			</span>
		</div>

		<div id="nav_div">
			<div>
				Order
			</div>
			<div>
				Book Table
			</div>
			<div>
				Explore
			</div>
		</div>

		<div id="get_the_app_div">
			Phone
		</div>
	</header>

	<main>
		<section id="image">
			<div id="logo"></div>
			<span>Tagline jaisa kuch bada sa description type ka</span>
			<div id="search_container">
				<div>City</div>
				<div>Search Bar</div>
				<div>Search</div>
			</div>
		</section>

		<section id="cuisines_and_events">
			<main id="cuisines">
				<header>
					Deciding an order was never this easy!		
				</header>
				<aside>
					Rate not just Restaurants, rate and review cuisines.
				</aside>
				<main>
					<span>
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</span>
					<section>
						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>
						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>
						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>

						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>
						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>
						<div>
							<div class="image"></div>
							<div class="on_image">Cuisine Name</div>
						</div>
					</section>
					<span>
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</main>
			</main>
			<aside id="events">
				<header>Planning an Event?</header>
				<div>We can help</div>
				<main>
					<aside>
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</aside>
					<div>Image</div>
					<aside>
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</aside>
					<div>Explore Events Gallery</div>
				</main>
				<section>
					<div>Check out our special offers for event and parties.</div>
					<div>Learn More</div>
				</section>
			</aside>
		</section>

		<section id="icons">
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
				<div>
					<img src="">
					<label></label>
				</div>
		</section>

		<section id="requests">
			<section id="discounts"></section>
			<section id="links">
				<!-- these three following divs will be in a single horizontal line -->
				<div>
					<img src="">
					<img src="">
					<div>Order Online</div>
				</div>
				<div>
					<img src="">
					<img src="">
					<div>Order Online</div>
				</div>
				<div>
					<img src="">
					<img src="">
					<div>Order Online</div>
				</div>
			</section>
		</section>

		<section id="transition">
			<section>
				Foodstars
			</section>
			<section>
				Customisable cakes
			</section>
		</section>

		<section id="locations">
			<div>Popular locations in and around Delhi</div>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</section>

		<section id="newsletter">
			<div>Subscribe our newsletter</div>
			<div>
				<input type="text" name="email_for_newsletter">
				<button id="submit_request_for_newsletter">Subscribe</button>
			</div>
		</section>

		<footer>
			
		</footer>


	</main>




</body>
</html>