

		<main>
			<header id="inside">
				<span>Chinese</span>
				<section id="rating_info">
					<p>Rated</p>
					<label>4.2/5.0</label>
					<div>based on 337
						 Ratings
					</div>
				</section>
			</header>

			<section id="cuisine_name_menu">
				<p>Cuisine Name Menu</p>
				<div>
					<img src="">
				</div>
				<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>

			<section id="recommended_dishes">
				<p>Recommended Dishes</p>
				<nav>
					<ul>
						<li>Honey Chilli Potato</li>
						<li>Chilli Paneer</li>
					</ul>
					<ul>
						<li>Manchurian</li>
						<li>Manchow Soup</li>
					</ul>
					<ul>
						<li>Chinese Platter</li>
						<li>Taste Of China</li>
					</ul>
				</nav>
			</section>

			<section id="reviews" class="outer_section">
			<p>Reviews</p>

				<section>
					<div id="upper">
						<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFFDBzG1FWbfnpuzrM5OHbn1qlAwjpgs2SOcDgw-zCdSuVd80">
						</div>
						<div id="inner_upper">
							<span id="one_name">User Name</span>
							<span id="two_review">236 Reviews, 927 Followers</span>
						</div>	
						<span>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</span>
					</div>

					<div id="lower">
						<div class="reviews_content">Text, the actual content of the review. At least a hundred
								characters long.
						</div>

						<div class="inner_lower">
							<div>
								<span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
								<span>27 Smiles</span>
							</div>
							
							<span class="share"><i class="fa fa-share-square" aria-hidden="true"></i></span>
							
						</div>
					</div>
				</section>

				<section>
					<div id="upper">
						<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFFDBzG1FWbfnpuzrM5OHbn1qlAwjpgs2SOcDgw-zCdSuVd80">
						</div>
						<div id="inner_upper">
							<span id="one_name">User Name</span>
							<span id="two_review">236 Reviews, 927 Followers</span>
						</div>	
						<span>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</span>
					</div>

					<div id="lower">
						<div class="reviews_content">Text, the actual content of the review. At least a hundred
								characters long.
						</div>

						<div class="inner_lower">
							<div>
								<span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
								<span>27 Smiles</span>
							</div>
							
							<span class="share"><i class="fa fa-share-square" aria-hidden="true"></i></span>
							
						</div>
					</div>
				</section>

				<section>
					<div id="upper">
						<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFFDBzG1FWbfnpuzrM5OHbn1qlAwjpgs2SOcDgw-zCdSuVd80">
						</div>
						<div id="inner_upper">
							<span id="one_name">User Name</span>
							<span id="two_review">236 Reviews, 927 Followers</span>
						</div>	
						<span>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</span>
					</div>

					<div id="lower">
						<div class="reviews_content">Text, the actual content of the review. At least a hundred
								characters long.
						</div>

						<div class="inner_lower">
							<div>
								<span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
								<span>27 Smiles</span>
							</div>
							
							<span class="share"><i class="fa fa-share-square" aria-hidden="true"></i></span>
							
						</div>
					</div>
				</section>

				<section>
					<div id="upper">
						<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrFFDBzG1FWbfnpuzrM5OHbn1qlAwjpgs2SOcDgw-zCdSuVd80">
						</div>
						<div id="inner_upper">
							<span id="one_name">User Name</span>
							<span id="two_review">236 Reviews, 927 Followers</span>
						</div>	
						<span>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
						</span>
					</div>

					<div id="lower">
						<div class="reviews_content">Text, the actual content of the review. At least a hundred
								characters long.
						</div>

						<div class="inner_lower">
							<div>
								<span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
								<span>27 Smiles</span>
							</div>
							
							<span class="share"><i class="fa fa-share-square" aria-hidden="true"></i></span>
							
						</div>
					</div>
				</section>

				 <div id="load_more">
					<span>Load More</span>
					<span><i class="fa fa-angle-right" aria-hidden="true"></span>
				</div>	
			</section>

			<section id="other_cuisines_too">
				<p>Other Cuisines</p>

				<span id="left"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
				<section>
					<div class="contain_div">
						<img src="">
						<div>South Indian</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Beverages</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Shakes</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Tandoori</div>
					</div>
				</section>
				<span id="right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>


		</main> 