<div id="menu_details">

<!-- <div id="provide_rating">
	<div id="star_container">
	</div>
	<div id="clear_rating">clear</div>
</div> -->
<header id="outside">
			<span>Share Your Experience</span>
			<div id="rateInRate">
				Rate
			</div>
			<div>Review</div>
</header>


		<main>
			<header id="inside">
				<span>Menu</span>
			</header>

			<section class="any_menu">
				<p>Food Menu</p>
				<div>
					<img src="">
				</div>
				<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>

			<section class="any_menu">
				<p>Bar Menu</p>
				<div>
					<img src="">
				</div>
				<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>

			<section id="recommended_cuisines">
				<p>Recommended Cuisines</p>
				<nav>
					<ul>
						<li>Chinese</li>
						<li>Thai</li>
					</ul>
					<ul>
						<li>Mughlai</li>
					</ul>
				</nav>
			</section>

			<!-- if required -->
			<section class="any_menu">
				<p>Speciality Menu</p>
				<div>
					<img src="">
				</div>
				<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>

			

			<section id="cuisines_available_here">
				<p>Cuisines Available</p>

				<span id="left"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
				<section>
					<div class="contain_div">
						<img src="">
						<div>South Indian</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Beverages</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Shakes</div>
					</div>
					<div class="contain_div">
						<img src="">
						<div>Tandoori</div>
					</div>
				</section>
				<span id="right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
			</section>


		</main>
</div>		